@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
}

header {
  background-color: #c8e3f4;
}

.menu-icon {
  display: none;
}

.menu-icon:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar img {
  width: 15%;
}

.mobile-nav {
  position: absolute;
  width: 100%;
  background-color: #ffdede;
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: opacity 500ms;
}

.mobile-nav.visible {
  opacity: 0.9;
}

.visible {
  display: block;
}

.mobile-nav li {
  text-align: center;
  list-style: none;
  padding: 0.5em 0;
}

.mobile-nav li + li {
  border-top: 1px solid gray;
}

.nav-bar ul {
  display: flex;
  gap: 2em;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar button {
  color: #3d3c42;
  padding: 0.7em 1.7em;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  border-radius: 50px;
}

.nav-bar .buttons .sign-in:hover {
  opacity: 0.75;
  cursor: pointer;
}

.buttons .sign-in {
  background-color: transparent;
}

.buttons .purchase {
  color: white;
  background-color: #6e85b7;
}

.buttons .purchase:hover {
  opacity: 0.6;
  cursor: pointer;
  box-shadow: -2px 2px 2px rgb(69, 75, 158);
  transform: translate(4px, -4px);
  transition: all 200ms ease-in-out;
}

img {
  max-width: 100%;
}

.heading {
  font-size: 3rem;
  margin-top: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;

  /* can't use yet */
  /* gap: 100px; */
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.hero {
  padding: 100px 0;
  background-color: #c8e3f4;
  color: #3d3c42;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.second-section {
  padding: 2em 0;
  gap: 3em;
}
.description {
  width: 60%;
}
.levels {
  width: 35%;
}
.description h2 {
  color: #6e85b7;
}
.description p {
  margin-top: 2em;
  color: #3d3c42;
  font-size: 1.25rem;
}
.card {
  padding: 1em 2em;
  text-align: center;
  background-color: #c8e3f4;
}
.card h3 {
  color: #6e85b7;
}
.card p {
  margin-top: 1em;
  font-size: 1.25rem;
  color: #3d3c42;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  background-color: #6e85b7;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover {
  opacity: 0.75;
  box-shadow: -2px 2px 2px rgb(69, 75, 158);
  transform: translate(4px, -4px);
  transition: all 200ms ease-in-out;
}

.last-section {
  background-color: #ffdede;
}

.last {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2em 0;
  align-items: center;
}

.last svg {
  width: 40%;
}

.last .text {
  width: 40%;
}

footer {
  min-height: 150px;
  background-color: #5c5a64;
}

/* media query */
@media (max-width: 640px) {
  .second-section,
  .row {
    flex-direction: column;
  }
  .description,
  .levels,
  .hero__text,
  .hero__img {
    width: 100%;
  }
  .hero .hero__img {
    margin-left: 0;
    margin-top: 1em;
  }
  .menu-icon {
    display: block;
    width: 2em;
  }
  nav {
    display: none;
  }
}
